page-home {


    #main{
        background: url('https://firebasestorage.googleapis.com/v0/b/colessicky.appspot.com/o/bgblur.jpg?alt=media&token=8730ee50-7daf-443d-8387-1c18925afbc6');
    }

    #btn{
        border-radius: 8%;
        border: 1px solid white;
        height: 8%;
        width: 45%;
        background: #1d6ea7;
       margin-left: 2%;
    
    }

    #btn1{
        border-radius: 8%;
        border: 1px solid white;
        height: 8%;
        width: 45%;
        background: #1d6ea7;
        margin-left: 5%;
        margin-top: 85%;
    }

    

}