export const FIREBASE_CONFIG = var config = {
    apiKey: "AIzaSyDQt7fOs_elzJDYyqhK9RZk8sC9IMTqZR4",
    authDomain: "colessicky.firebaseapp.com",
    databaseURL: "https://colessicky.firebaseio.com",
    projectId: "colessicky",
    storageBucket: "colessicky.appspot.com",
    messagingSenderId: "1045426130405"
  };