page-employee-login {


    #main{
        background: url('https://firebasestorage.googleapis.com/v0/b/colessicky.appspot.com/o/bgblur.jpg?alt=media&token=8730ee50-7daf-443d-8387-1c18925afbc6');
    }

    #btn{
        border-radius: 8%;
        border: 1px solid white;
        height: 40px;
        width: 45%;
        background: #1d6ea7;
        margin-top: 20%;
        margin-left: 28%;
    }

    #codeInput{
        height: 35px;
        width: 90%;
        border-radius: 10%;
        margin-top: 50%;
        text-align: center;
        margin-left: 5%;
    }

}